$content-width: 800px;
$main: #EE7546;
$font-style: 'Open Sans', sans-serif;
$font-color: #F8F8F8;
$link-color: #F8F8F8;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #72BAAC;
$light: #D6D6D6;
$header:  #5A5A5A;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
