$content-width: 800px;
$main: #fff; /*body background color */
$font-style: 'Open Sans', sans-serif;
$font-color: #000; /*paragraph text*/
$link-color: #000; /*will end up in header*/
$link-hover-color: #e74c3c;
$link-inactive-color: #000;
$link-active-color: #95a5a6;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #000; /*for page title*/
/*$light: #E6EBE0; bottom of page? haven't changed*/
$header:  #fff; /*header background color*/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
