$content-width: 800px;
$main: #ecf0f1; /*body background color */
$font-style: 'Open Sans', sans-serif;
$font-color: #2c3e50; /*paragraph text*/
$link-color: #bdc3c7; /*will end up in header*/
$link-hover-color: #e74c3c;
$link-inactive-color: #95a5a6;
$link-active-color: #fff;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #2D3142; /*for page title*/
$light: #E6EBE0; /*bottom of page? haven't changed*/
$header:  #2c3e50;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
