body {
	background: $main;
	padding: 0;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 100%;
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
}


h1 {
	font-weight: normal;
	font-size: 1.5em;
	/*padding: 10px 0 10px 0;*/
}

h2, h3 {
	font-weight: normal;
}

a {
	color: $link-color;
	text-decoration: none;
}

a.active {
	color: $link-active-color;
}

a:hover {
	color: $link-hover-color;
}

header {
	background: $header;
	margin: 5% 0 0; /*set  header down a little from top*/
	padding: 10px 0 10px 0; 
	/*max-width: $content-width;*/
}

div.container {
	max-width: $content-width;
	margin: 3% auto; 
}

nav.main-nav ul {
  margin: 0;
  /*padding: 10px 0 10px 0; */
  list-style: none;
  float: right;
}

nav.main-nav li,
nav.main-nav a {
  display: inline-block;
}

nav.main-nav li a {
  padding: 0  10px; /* spaces the header options apart horizontally */
}

img {
	width: 8em; 
	float: left; 
	margin: 0 3% 3% 0;
}

footer {
	text-align: right;
	padding: 40px;
}
