<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			 <header>
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/people">People</a></li>
          </ul>
        </nav>
        <h1><a href="/">Language Variation and Cognition Lab</a></h1>
      </div>
    </header>
			<div class="container">
			
			{{ content }}           
             
			</div><!-- /.container -->
			
          <footer>
      <div class="container">
        <p class="center-text"> <a href="mailto:Tamminga-lab@sas.upenn.edu">email</a></p>
      </div>
    </footer>
         
		</body>
	</html>
