<!DOCTYPE html>
	<html>
		{% include head.html %}

		<body>
			 <header>
      <div class="container">
      <nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
        <h2><a href="/">Language Variation and Cognition Lab</a></h2>
      </div>
    </header>
			<div class="container">
			
			{{ content }}           
             
			</div><!-- /.container -->
			
          {% include footer.html %}
         
		</body>
	</html>
